<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main</title>
</head>
<body>
<main>
<header class="main-header">
  <div class="login vertical"> <a routerLink="/login"> Login </a> </div>
</header>
<div class="container">
  <div class="sidebar">
    <a routerLink="/main" class="menu-button" id="pick">Main</a>
    <a routerLink="/convertor" class="menu-button" >Convertor</a>
    <a routerLink="/mortgage" class="menu-button" > Mortgage</a>
  </div>
  <div class="main-section" >
    <div class="content">
      <h1>{{massage1}}</h1>
    </div>
    <div class="content">
      <h1>{{massage2}}</h1>
    </div>
    <div class="content">
      <h1>{{massage3}}</h1>
    </div>
  </div>
</div>
</main>
</body>
</html>

